*{
	padding: 0;
	margin: 0;
}

body {
	background-color: #111113 !important}
/*	background: linear-gradient(180deg, rgba(0,146,196,1) 0%, rgba(146,197,252,1) 50%, rgba(146,197,252,1) 100%);
}*/

.cinta {
	width: 100%;
	height: 39px;
	background-image: url(../img/Fondo.png) !important;
	background-repeat: repeat;
	animation: w1 60s linear infinite;
}

@keyframes w1 {
	0% {
		background-position-x: 0;
	}
	100% {
		background-position-x: 1216px;
	}
}

.descripccion {
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	color: #e63d42;
	font-size: calc(1.0rem + 0.8vw) !important;
}

.titulo1{	
	align-items: center;
	font-size: calc(1.2rem + 2.8vw) !important;
	font-family: "Oswald" !important;
}

.central {
	bottom: 0;
	position: relative;
	padding-top: 100px;
}

.central2 {
	display: flex;
	align-items: center;
}
.boton {
	font-family: "PT Sans";
	background-color: #e63d42!important;
}